length = 35px
lengthBefore = 15px
colorAccess = white
widthAccess = 4px
widthBefore = 20px

sqrt(x)
  return math(x, 'sqrt')

#access-footer
  height: lengthBefore
  width: lengthBefore
  position relative
  top: 0px
  transform: rotate(-135deg)
  border-top-style: solid
  border-top-color: colorAccess 
  border-top-width: widthBefore
  border-left-style: solid
  border-left-color: colorAccess 
  border-left-width: widthBefore
  border-radius: 100%
  transition-delay: 0.1s
  transition-duration: 0.3s
  transition-timing-function: cubic-bezier(.25,.87,.4,1.16)

.round-background
  --paddingBackground: length
  position: absolute
  top: calc(100vh)
  border-radius: 100%
  background-color: rgba(0,0,0,0.4)
  height: length * 2
  width: length * 2
  left: calc(50% - var(--paddingBackground))
  transition-delay: 0.3s
  transition-duration: 0.3s
  transition-timing-function: cubic-bezier(.25,.87,.4,1.16)
  display: flex;
  align-items: center;
  justify-content: center;

footer 
  display: inline-block
  text-align: center

#access-hover
  width 100vw
  height 10vh
  position fixed
  top 100vh - @height

#access-hover:hover + .round-background,
.round-background:hover
  top: calc(100vh - 90px)

#access-hover:hover
  transition-delay: 0s

#access-hover:hover + .round-background>#access-footer,
.round-background:hover>#access-footer
  height: length
  width: length
  border-radius: 0%
  border-top-width: widthAccess
  border-left-width: widthAccess
  transform: rotate(45deg)
  top: ((length * sqrt(2)) * 0.125)
  
.round-background:hover
  cursor pointer

.link-container
  bottom 0px
  position relative
  transition-duration: 0.3s
  transition-property: bottom
  transition-timing-function: ease-out

  